<h1><%= @player_1 %>  vs. <%= @player_2%></h1>
<h2><%= @player_1%>'s HP: <%= @player_1_hp%>/<%=Player::DEFAULT_HIT_POINTS%></h2>
<h2><%= @player_2%>'s HP: <%= @player_2_hp%>/<%=Player::DEFAULT_HIT_POINTS%></h2>
<form action="/attack" method="get">
  <input type="submit" value="Attack!">
</form>
